@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

header {
    margin: 10px;
  }
  
p {
    text-align: justify;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
  }

table {
    width:100%
  }
  
td {
    text-align: center;
    vertical-align: top;
  }
  
h1 {
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
  }

h2 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
  }

  h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
img {
    width: 100%;
    height: fit-content;
  }
  
.div-g {
    background-color: #009c29;
    color: #ffffff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  
.div-p {
    background-color: #9c0049;
    color: #ffffff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

.div-p-1 {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
  }
  
.div-t {
    padding: 30px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
  }
  
.div-t-p {
    text-align: left;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }
  
.div-img {
    padding: 30px;
  }
  
section {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
  }